@font-face {
  font-weight: 400;
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
  font-weight: 500;
  font-family: Lato;
  src: url('../fonts/Lato-Medium.ttf');
}

@font-face {
  font-weight: 800;
  font-family: Lato;
  src: url('../fonts/Lato-Heavy.ttf');
}

@font-face {
  font-weight: 8;
  font-family: Lato;
  font-style: italic;
  src: url('../fonts/Lato-HeavyItalic.ttf');
}

@font-face {
  font-weight: 900;
  font-family: Lato;
  src: url('../fonts/Lato-Black.ttf');
}

