/**************************\
  Basic Modal Styles
\**************************/


.modal__overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.welive {
  background: #0d760d;
  color: white;
  padding: 7px;
  margin-top: 15px;
  border-radius: 7px;
  font-size: 11px;
  width: fit-content;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #1E1E1E;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  & > .small {
    margin-bottom: 40px;
  }
  & > form > .input {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
  }
}

.modal {
  & footer {
    // padding-bottom: 40px;
  }
}

.modal__btn {
  font-size: .875rem;
  padding: 20px 45px;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: 7px;
  border-style: none;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  &.button.button-primary {
    width: 100%;
  }
  &:disabled {
    background: $cLightGray;
    color: $cText;
    &:hover {
      cursor: initial !important;
      background: #e0e1e6;
    }
  }
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

#result-message {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  .resp-received {
    color: #0d760d;
    font-weight: bold;
  }
  .resp-failed {
    color: rgb(255, 84, 84);
  }
}

.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown {
  margin-top: 10px;
  width: 100% !important;
  & input {
    width: 100% !important;
  }
}