<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campaigns</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('./components/header.ejs') %>

  <div class="container page-container">
    <aside id="aside">
      <h5 class="h5 aside__title">Dashboard</h5>
      <nav class="aside__menu">
        <ul>
          <li class="aside__menu-item">
            <a href="/demo/dashboard" aria-label="Home">
              <object data="/img/icons/menu/home.svg" type="image/svg+xml"></object>
              <span>Home</span>
            </a>
          </li>
          <li class="aside__menu-item active load">
            <a href="/demo/campaigns" aria-label="Campaigns">
              <object data="/img/icons/menu/campaigns.svg" type="image/svg+xml"></object>
              <span>Campaigns</span>
            </a>
          </li>
          <li class="aside__menu-item">
            <a href="/demo/support" aria-label="Support">
              <object data="/img/icons/menu/support.svg" type="image/svg+xml"></object>

              <span>Support</span>
            </a>
          </li>
          <li class="aside__menu-item">
            <a href="/demo/subscription" aria-label="Subscription">
              <object data="/img/icons/menu/subscription.svg" type="image/svg+xml"></object>
              <span>Subscription</span>
            </a>
          </li>
          <li class="aside__menu-item">
            <a href="/demo/earn-with-us" aria-label="Earn with us">
              <object data="/img/icons/menu/earn-with-us.svg" type="image/svg+xml"></object>
              <span>Earn with us</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <main>
      <!-- <div class="subscription-warning campaigns__warning">
        <object data="/img/icons/error.svg" type="image/svg+xml"></object>
        <div class="subscription-warning__info">
          <h4 class="h4 subscription-warning__title">Your Subscription Expires Soon</h4>
          <p class="opacity">Make sure to make the payment before the subscription expires</p>
        </div>
      </div> -->

      <section>
        <div class="headline">
          <h3 class="h3 title">Your Campaigns</h3>
          <p class="opacity small">Track & Control your started campaigns</p>
        </div>
        <div class="accordeon campaigns__accordeon active">
          <div class="accordeon__title">
            <h4 class="h4">Active / In Queue</h4>
            <button class="active">
              <object data="/img/icons/arrow-expand.svg" type="image/svg+xml"></object>
            </button>
          </div>
          <div class="accordeon__content">
            <div class="campaigns__cards">  
              <div class="campaigns__card active loading">
                <div class="campaigns__card-info">
                  <div>
                    <object data="/img/icons/campaigns/status/load.svg" type="image/svg+xml"></object>
                  </div>
                  <div>
                    <span class="smaller opacity">13 Feb 2024</span>
                    <p class="button-text campaigns__card-title">Example Campaign</p>
                  </div>
                  <div class="campaigns__card-data">
                    <div class="opacity">
                      <object data="/img/icons/campaigns/info/error.svg" type="image/svg+xml"></object>
                      1 173</div>
                    <div class="opacity"><object data="/img/icons/campaigns/info/approval.svg" type="image/svg+xml"></object>5 327</div>
                    <div><object data="/img/icons/campaigns/info/sms.svg" type="image/svg+xml"></object>6 480 / 20 000</div>
                  </div>
                </div>
                <div class="campaigns__card-actions">
                  <button><object data="/img/icons/campaigns/actions/close.svg" type="image/svg+xml"></object></button>
                  <button><object data="/img/icons/campaigns/actions/pause.svg" type="image/svg+xml"></object></button>
                  <button><object data="/img/icons/campaigns/actions/download.svg" type="image/svg+xml"></object></button>
                </div>
              </div>
              <div class="campaigns__card active">
                <div class="campaigns__card-info">
                  <div>
                    <object data="/img/icons/campaigns/status/clock.svg" type="image/svg+xml"></object>
                  </div>
                  <div>
                    <span class="smaller opacity">In queue</span>
                    <p class="button-text campaigns__card-title">Example Campaign</p>
                  </div>
                  <div class="campaigns__card-data">
                    <div class="opacity">
                      <object data="/img/icons/campaigns/info/error.svg" type="image/svg+xml"></object>
                      1 173</div>
                    <div class="opacity"><object data="/img/icons/campaigns/info/approval.svg" type="image/svg+xml"></object>5 327</div>
                    <div><object data="/img/icons/campaigns/info/sms.svg" type="image/svg+xml"></object>6 480 / 20 000</div>
                  </div>
                </div>
                <div class="campaigns__card-actions">
                  <button><object data="/img/icons/campaigns/actions/close.svg" type="image/svg+xml"></object></button>
                  <button><object data="/img/icons/campaigns/actions/pause.svg" type="image/svg+xml"></object></button>
                  <button><object data="/img/icons/campaigns/actions/download.svg" type="image/svg+xml"></object></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordeon campaigns__accordeon active">
          <div class="accordeon__title">
            <h4 class="h4">Finished Campaigns</h4>
            <button class="active">
              <object data="/img/icons/arrow-expand.svg" type="image/svg+xml"></object>
            </button>
          </div>
          <div class="accordeon__content">
            <div class="campaigns__cards">
              <div class="campaigns__card">
                <div class="campaigns__card-info">
                  <div>
                    <object data="/img/icons/campaigns/status/cross.svg" type="image/svg+xml"></object>
                  </div>
                  <div>
                    <span class="smaller opacity">15 Nov 2023</span>
                    <p class="button-text campaigns__card-title">Example Campaign</p>
                  </div>
                  <div class="campaigns__card-data">
                    <div class="opacity">
                      <object data="/img/icons/campaigns/info/error.svg" type="image/svg+xml"></object>
                      1 173</div>
                    <div class="opacity"><object data="/img/icons/campaigns/info/approval.svg" type="image/svg+xml"></object>5 327</div>
                    <div><object data="/img/icons/campaigns/info/sms.svg" type="image/svg+xml"></object>20 000 / 20 000</div>
                  </div>
                </div>
                <div class="campaigns__card-actions">
                  <button><object data="/img/icons/campaigns/actions/download.svg" type="image/svg+xml"></object></button>
                </div>
              </div>
              <div class="campaigns__card">
                <div class="campaigns__card-info">
                  <div>
                    <object data="/img/icons/campaigns/status/cross.svg" type="image/svg+xml"></object>
                  </div>
                  <div>
                    <span class="smaller opacity">15 Nov 2023</span>
                    <p class="button-text campaigns__card-title">Example Campaign</p>
                  </div>
                  <div class="campaigns__card-data">
                    <div class="opacity">
                      <object data="/img/icons/campaigns/info/error.svg" type="image/svg+xml"></object>
                      1 173</div>
                    <div class="opacity"><object data="/img/icons/campaigns/info/approval.svg" type="image/svg+xml"></object>5 327</div>
                    <div><object data="/img/icons/campaigns/info/sms.svg" type="image/svg+xml"></object>20 000 / 20 000</div>
                  </div>
                </div>
                <div class="campaigns__card-actions">
                  <button><object data="/img/icons/campaigns/actions/download.svg" type="image/svg+xml"></object></button>
                </div>
              </div>
              <div class="campaigns__card">
                <div class="campaigns__card-info">
                  <div>
                    <object data="/img/icons/campaigns/status/cross.svg" type="image/svg+xml"></object>
                  </div>
                  <div>
                    <span class="smaller opacity">15 Nov 2023</span>
                    <p class="button-text campaigns__card-title">Example Campaign</p>
                  </div>
                  <div class="campaigns__card-data">
                    <div class="opacity">
                      <object data="/img/icons/campaigns/info/error.svg" type="image/svg+xml"></object>

                      1 173
                    </div>
                    <div class="opacity">
                      <object data="/img/icons/campaigns/info/approval.svg" type="image/svg+xml"></object>
                      5 327
                    </div>
                    <div><object data="/img/icons/campaigns/info/sms.svg" type="image/svg+xml"></object>20 000 / 20 000</div>
                  </div>
                </div>
                <div class="campaigns__card-actions">
                  <button><object data="/img/icons/campaigns/actions/download.svg" type="image/svg+xml"></object></button>
                </div>
              </div>
              <div class="campaigns__card">
                <div class="campaigns__card-info">
                  <div>
                    <object data="/img/icons/campaigns/status/tick.svg" type="image/svg+xml"></object>
                  </div>
                  <div>
                    <span class="smaller opacity">15 Nov 2023</span>
                    <p class="button-text campaigns__card-title">Example Campaign</p>
                  </div>
                  <div class="campaigns__card-data">
                    <div class="opacity">
                      <object data="/img/icons/campaigns/info/error.svg" type="image/svg+xml"></object>
                      1 173</div>
                    <div class="opacity"><object data="/img/icons/campaigns/info/approval.svg" type="image/svg+xml"></object>5 327</div>
                    <div><object data="/img/icons/campaigns/info/sms.svg" type="image/svg+xml"></object>20 000 / 20 000</div>
                  </div>
                </div>
                <div class="campaigns__card-actions">
                  <button><object data="/img/icons/campaigns/actions/download.svg" type="image/svg+xml"></object></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>

  <footer>
    <div class="container">
      <div class="footer__inner">
        <a href="#">
          <span class="subheading logo">WhatsBulking</span>
        </a>
        <div class="footer__nav">
          <ul>
            <li class="smaller opacity"><a href="#">TERMS & CONDITIONS</a></li>
            <li class="smaller opacity"><a href="#">Privacy Policy</a></li>
            <li class="smaller opacity"><a href="#">COOKIES POLICY</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="/js/script.js"></script>
</body>
</html>