<link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />

<div class="wrapper">
    <header>
      <i class="bx bx-cookie"></i>
      <h2>Cookies Consent</h2>
    </header>

    <div class="data">
      <p>This website use cookies to help you have a superior and more relevant browsing experience on the website. <a href="cookiespolicy.txt" target="_blank"> Read more...</a></p>
    </div>

    <div class="buttons">
      <button class="button" id="acceptBtn">Accept</button>
    </div>
  </div>