<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h3 class="modal__title h3" id="modal-1-title">
          Send a request & we'll contact you shortly!
        </h3>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <small class="small opacity">
          Try hitting <b>the key and notice how</b> the focus stays within the modal itself. Also, to close modal.
        </small>
        <input type="text" class="input" placeholder="Your Name...">
        <input type="text" class="input" placeholder="Your Email...">
        <input type="text" class="input" placeholder="Your Contact Number...">
      </main>
      <footer class="modal__footer">
        <button class="modal__btn button button-primary ">Continue</button>
      </footer>
    </div>
  </div>
</div>