<!--  https://idiotwu.github.io/smooth-scrollbar/ -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bulk WhatsApp Mass Message Sender | Non-Contacts</title>

  <link rel="stylesheet" href="./css/index.css">
  
</head>
<body>
  <%- include('./components/cookies-popup.ejs') %>
  <%- include('./components/offer.ejs') %>
  <header class="nav__header">
    <div class="container">
      <div class="header__inner">
        <div class="logo" data-scroll-reveal>
          <a href="#">
            <span class="subheading logo">WhatsBulking</span>
          </a>
        </div>
        <nav id="navigation" data-scroll-reveal>
          <ul class="header__navigation">
            <li class="subheading-18"><a href="#features">Features</a></li>
            <li class="subheading-18"><a href="#pricings">Pricings</a></li>
            <li class="subheading-18"><a href="#reviews">Reviews</a></li>
            <li class="subheading-18"><a href="#contact-us">Contact Us</a></li>
          </ul>
          <button class="button-primary button button-text header__btn" data-micromodal-trigger="modal-1" data-scroll-reveal>Get Started</button>
        </nav>
        <div class="burger" id="burger">
          <span></span>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="intro">
      <img class="intro__pattern" src="./img/background-pattern.png">
      <div class="container">
        <div class="intro__inner">
          <div class="intro__intro">
            <div class="intro__text" data-scroll-reveal>
              <h1 class="intro__title h1">
                Get more sales by cold-messaging <span><b style="font-size:62px;">thousands of users</b></span> on WhatsApp
              </h1>
              <!-- <p class="subheading opacity">Sell anything online on WhatsApp </p> -->
              <p class="subheading-18 opacity">Send your offers, promotions, service and information messages in the most popular WhatsApp messenger without adding phone numbers to your contacts!</p>
              <div class="d-flex">
                <a href="#" class="intro__btn button button-primary button-text" data-micromodal-trigger="modal-1" data-scroll-reveal>⚡ Get Started Now</a><br>
                <small class="small opacity small-btn-text">Send a request to get a free consultation with expected conversions & leads boost from our marketing campaigns!</small>
                <!-- <a href="./demo/dashboard" target="_blank" class="watch__btn button button-primary button-text">Demo</a> -->
              </div>
            </div>
            <figure data-scroll-reveal>
              <object data="./img/intro-img.svg" alt="intro" type="image/svg+xml"></object>
              <object data="./img/notifications/notif-1.svg" class="notif-1" alt="intro" type="image/svg+xml"></object>
              <object data="./img/notifications/notif-2.svg" class="notif-2" alt="intro" type="image/svg+xml"></object>
              <object data="./img/notifications/notif-3.svg" class="notif-3" alt="intro" type="image/svg+xml"></object>
            </figure>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div id="trigger" class="spacer s0"></div>
      <div class="container" id="target">
        <div class="video__inner">
          <div class="video__text" data-scroll-reveal>
            <h3 class="h3 video__title">We use unique technology to send messages <i>to non-contact numbers</i>. <br> Watch a video on how to get started with us!</h3>
            <p class="opacity video__desc">We provide you with an online presentation with predictions of our marketing campaigns & free consultation in Zoom</p>
          </div>
          <video  src="/video/video.mp4" class="video__video" data-scroll-reveal loop autoplay muted></video>
        </div>
      </div>
    </section>

    <!-- <section>
      <div class="container">
        <div class="engage__headline" data-scroll-reveal>
          <p class="opacity small">ONE OF THE FIRST WHATSAPP MARKETING SERVICES ON THE MARKET ONLINE</p>
          <h2 class="h2">We provide the full service for making <br><small style="position: relative; top: -10px;">marketing campaigns in WhatsApp</small></h2>
        </div>
        <div class="engage__inner">
          <div class="engage__content">
            <h4 class="h4" data-scroll-reveal>We use official Meta API to bulk message non-contact users using WhatsApp:</h4>
            <ul data-scroll-reveal>
              <li class="button-text">We can use your either your Facebook Business Account to proceed with or set up one for you without any information from your side!</li>
              <li class="button-text">We can provide you with a database of potential clients, collected specifically for your business or niche!</li>
              <li class="button-text">Marketers use our affiliation program to invite new clients to our platform & earn at least $1k per month</li>
            </ul>
            <a data-scroll-reveal href="#" class="button-text button button-primary">Start now</a>
          </div>
          <figure data-scroll-reveal>
            <img src="./img/engage/img.png" data-scroll-reveal alt="img">
          </figure>
        </div>
      </div>
    </section> -->

    <section>
      <div class="container">
        <div class="features__inner">
          <h3 class="h3 features__title" data-scroll-reveal id="features">Our Features</h3>
          <div class="features__features">
            <div class="features__feature" data-scroll-reveal>
              <object data="./img/features/icons/1.svg" type="image/svg+xml"></object>
              <div>
                <h4 class="h4">No Documents Required</h4>
                <p class="small opacity">We can use your either your Meta Account to proceed with or setup one for you without any information from your side!</p>
              </div>
            </div>
            <div class="features__feature" data-scroll-reveal>
              <object data="./img/features/icons/2.svg" type="image/svg+xml"></object>
              <div>
                <h4 class="h4">We Provide Everything from A-Z</h4>
                <p class="small opacity">We can provide you with a database of potential clients, collected specifically for your business or niche</p>
              </div>
            </div>
            <div class="features__feature" data-scroll-reveal>
              <object data="./img/features/icons/3.svg" type="image/svg+xml"></object>
              <div>
                <h4 class="h4">Official API Used & No-Ban Guarantee </h4>
                <p class="small opacity">We don't go against terms of use of WhatsApp so your phone numbers would not get banned</p>
              </div>
            </div>
            <div class="features__feature" data-scroll-reveal>
              <object data="./img/features/icons/4.svg" type="image/svg+xml"></object>
              <div>
                <h4 class="h4">24/7 Support with your Personal Manager</h4>
                <p class="small opacity">In case of any questions feel free to access our 24/7 working support system</p>
              </div>
            </div>
            <div class="features__feature key" data-scroll-reveal>
              <object data="./img/features/icons/5.svg" type="image/svg+xml"></object>
              <div>
                <h3 class="h3">Your own Customized Dashboard</h3>
                <p class="opacity">We provide you your own customised dashboard on a dedicated domain with your logo & Full access to marketing campaign statistics</p>
              </div>
              <picture>
                <object  class="features__resp" data="./img/features/image.svg" type="image/svg+xml" style="max-width: 100% !important"></object>
                <object class="features__resp-m" data="./img/features/responsive-image.svg" type="image/svg+xml" style="max-width: 100% !important"></object>
              </picture>
            </div>
          </div>
          <div class="features__demo">
            <h2 class="h2 features__demo-title" data-scroll-reveal>
              Yet not sure? <br> <i>Request a Presentation right now!</i>
            </h2>
            <a href="#" class="button button-text button-primary features__demo-btn" data-scroll-reveal data-micromodal-trigger="modal-1">⚡️ Request a Presentation</a>
            <div class="features__people" data-scroll-reveal>
              <div class="people-block">
                <img src="./img/features/people/1.png" alt="man">
                <img src="./img/features/people/2.png" alt="man">
                <img src="./img/features/people/3.png" alt="man">
              </div>
              <span class="small">400+ people have already tried it</span>
            </div>
            <p class="small opacity features__demo-desc">Leave your request here, we will contact with you shortly & consult you </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="engage__headline" data-scroll-reveal id="pricings">
          <p class="opacity small">FIRST WHATSAPP MARKETING SERVICES ON THE MARKET ONLINE</p>
          <h2 class="h2">We provide the full service for <br><small style="position: relative; top: -10px;">marketing campaigns in WhatsApp</small></h2>
        </div>
        <div class="engage__inner">
          <div class="engage__content">
            <h3 class="h3" data-scroll-reveal>We'll contact you back with all available packages in <span>30 minutes</span>!</h3>
            <h4 class="h4" data-scroll-reveal>Leave your request and get:</h4>
            <ul data-scroll-reveal>
              <li class="button-text">A free consultation and your expected leads & conversions boost from working with us</li>
              <li class="button-text">Your personal support manager, available 24/7 via any preferable method</li>
              <li class="button-text">Demo version of your dashboard, where you can see all statistics, regarding our marketing campaign</li>
              <!-- <li class="button-text">Businessess use our service to replace cold messaging employees and automate the process of reaching their clients. It's more effective & cheaper</li>
              <li class="button-text">Agencies use our service to sell their products or services directly in WhatsApp and seamlessly reach thousands of clients</li> -->
            <a data-scroll-reveal href="#" data-micromodal-trigger="modal-1" class="button-text button button-primary">Get started</a>
          </div>
          <figure data-scroll-reveal>
            <object data="/img/engage/macbook.svg" type="image/svg+xml" data-scroll-reveal alt="img"></object>
          </figure>
        </div>
      </div>
    </section>

    <section class="why" id="reviews">
      <div class="container">
        <!-- <h3 class="h3 why__title" data-scroll-reveal>WhatsApp Bulking</h3> -->
        <div class="why__reasons">
<div class="why__reason" data-scroll-reveal>
            <div>
              <object data="./img/why-block/1.svg" style="width: 40px" type="image/svg+xml"></object>
              <div>
                <h2 class="h2">98%</h2>
                <span class="subheading opacity">Open rates (10x more than emails & SMS)</span>
              </div>
            </div>
          </div>
          <div class="why__reason" data-scroll-reveal>
            <div>
              <object data="./img/why-block/2.svg" style="width: 40px"type="image/svg+xml"></object>
              <div>
                <h2 class="h2">55%</h2>
                <span class="subheading opacity">Conversion rates (20x more than emails)</span>
              </div>
            </div>
          </div>
          <div class="why__reason" data-scroll-reveal>
            <div>
              <object data="./img/why-block/3.svg" style="width: 40px" type="image/svg+xml"></object>
              <div>
                <h2 class="h2">400+</h2>
                <span class="subheading opacity">Clients already tried WhatsBulking</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact-us">
      <div class="container">
        <h3 class="h3 reviews__title" data-scroll-reveal>What Our Customers Say About Us</h3>
        <div class="reviews__inner">
          <div class="reviews__review" data-scroll-reveal>
            <img src="./img/features/j.png" width="50" alt="avatar">
            <div>
              <div class="reviews__author">
                <div class="reviews__mark">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                </div>
                <h4 class="h4 reviews__name">"JOEY" Agency</h4>
                <span class="small opacity">Worldwide SMMA Agency</span>
              </div>
              <p class="small opacity">Absolutely incredible service for anyone who has digital marketing clients. We brought more than 20 clients using WhatsBulking and the conversion rate of our clients has boosted effortlessly.</p>
            </div>
          </div>
          <div class="reviews__review" data-scroll-reveal>
            <img src="./img/features/k.png" width="50" alt="avatar">
            <div>
              <div class="reviews__author">
                <div class="reviews__mark">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                </div>
                <h4 class="h4 reviews__name">ABC Cars</h4>
                <span class="small opacity">E-Commerce Store based in UK</span>
              </div>
              <p class="small opacity">WhatsBulking has revolutionized the way we sell cars online in UK through WhatsApp. The ability to send messages from different numbers has helped us reach a wider audience and boost our sales because of our accounts not getting banned.</p>
            </div>
          </div>
          <div class="reviews__review" data-scroll-reveal>
            <img src="./img/features/customer.png" width="50" alt="avatar">
            <div>
              <div class="reviews__author">
                <div class="reviews__mark">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/fill-star.svg" alt="fill-star">
                  <img src="./img/features/stars/star.svg" alt="star">
                </div>
                <h4 class="h4 reviews__name">Evan N.</h4>
                <span class="small opacity">Owner of Real Estate Agency, Dubai</span>
              </div>
              <p class="small opacity">Closed over 13 deals in real estate using the mass-marketing strategy in WhatsApp. My manager helped me to get a list of potential customers & we made over 5 sells in first few weeks.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <footer class="footer">
    <div class="container">
      <div class="footer__inner" data-scroll-reveal>
        <div class="logo">
          <a href="#">
            <span class="subheading">WhatsBulking. <small>2024</small></span>
          </a>
        </div>
        <ul class="footer__nav">
          <li class="smaller opacity"><a href="termsconditions.txt" target="_blank">TERMS & CONDITIONS</a></li>
          <li class="smaller opacity"><a href="liability.txt" target="_blank">EXCLUSION OF LIABILITY</a></li>
          <li class="smaller opacity"><a href="cookiespolicy.txt" target="_blank">COOKIES POLICY</a></li>
          <li class="smaller opacity">Business Inquiries: admin@whatsbulking.com</li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="/js/index.js"></script>
  <%- include('components/modal') %>
</body>
</html>